	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/02/2019 07:51
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-bee:before { content: "\f100"; }
.flaticon-hook:before { content: "\f101"; }
.flaticon-skyline:before { content: "\f102"; }
.flaticon-home:before { content: "\f103"; }
.flaticon-stairs:before { content: "\f104"; }
.flaticon-engineer:before { content: "\f105"; }
.flaticon-engineer-1:before { content: "\f106"; }
.flaticon-engineer-2:before { content: "\f107"; }